.rewardsTitle {
  font-weight: 400;
  font-size: 48px;
  line-height: 51px;
  text-align: center;
  color: white;
}

.gridContainer {
  display: grid;
  grid-template-areas: "a b" "c c";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

.grid {
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.kolourList {
  display: flex;
  width: 100%;
  border: 2px solid white;
  border-radius: 12px;
  overflow: hidden;
}

.kolour {
  height: 89px;
  width: 100%;
}

.infoCardContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
}

.infoCard {
  color: white;
  text-align: left;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding: 32px 48px;
  border-radius: 12px;
  &.gray {
    background: rgba(255, 255, 255, 0.1);
  }
  &.green {
    background: #006e46;
  }
}
