@font-face {
  font-family: "Bangers";
  src: url(../../fonts/Bangers-Regular.ttf);
}

.rewardsTitle {
  font-weight: 400;
  font-size: 48px;
  line-height: 51px;
  text-align: center;
  color: white;
  font-family: "Bangers";
  letter-spacing: 0.16em;
}

.kreationNftContainer {
  height: 92px;
  border: 2px solid white;
  border-radius: 12px;
  overflow: hidden;
}

.kreationNft {
  width: 100%;
  height: auto;
}

.itemCarouselContainer {
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
}

.upperItem {
  padding: 48px 80px 0 80px;
}

.kolourList {
  display: flex;
  width: 100%;
  border: 2px solid white;
  border-radius: 12px;
  overflow: hidden;
}

.kolour {
  height: 89px;
  width: 100%;
}

.figure {
  width: 100%;
  height: auto;
}

.link {
  color: white;
  text-decoration: underline;
}

.subTitle {
  font-size: 20px;
  font-family: "Bangers";
  letter-spacing: 0.16em;
  line-height: 21px;
  display: flex;
  &.white {
    color: white;
  }
  &.orange {
    color: #ec5929;
  }
}

.divider {
  margin-top: 16px;
  margin-bottom: 24px;
}
