.overlay {
  background-color: rgba(0, 0, 0, 0.44);
  position: fixed;
  inset: 0px;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  position: fixed;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-height: 85vh;
  font-family: var(--font-default);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);

  &.sizeMedium {
    max-width: 818px;
  }

  &.sizeSmall {
    max-width: 660px;
  }

  * {
    font-family: var(--font-default);
  }
}
