.container {
  min-width: 500px;
  background: rgba(247, 247, 247, 0.04);
  background-image: url("../../../../hooks/images/filler.png");
  flex: 1 1 0;
}

.story {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  padding: 64px 16px 80px 71px;
  text-align: start;
}
