.container {
  min-width: 500px;
  background: rgba(255, 255, 255, 0.04);
  flex: 1 1 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.carousel {
  width: 100%;
}

// @sk-yagi: A hacky way to make use of the "react-responsive-carousel" lib
.carousel > div > ul {
  text-align: start !important;
  padding-left: 64px !important;
}

.carousel > div > ul > li {
  height: 12px !important;
  width: 12px !important;
}

.story {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  padding: 64px 16px 80px 71px;
  text-align: start;
}
