.container {
  min-width: 500px;
  background: rgba(255, 255, 255, 0.04);
  flex: 1 1 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.story {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  padding: 64px 16px 80px 71px;
  text-align: start;
}
