.container {
  display: block;
}

.ada {
  white-space: nowrap;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #00362c;
}

.usd {
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 54, 44, 0.8);
}
