.container {
  display: block;
}

.imageContainer {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.image {
  position: absolute;
  inset: 0;
  transition-property: opacity;
  transition-duration: 500ms;
}

.nftPrice {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%, 0);
}
