.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  background-color: transparent;
  border: none;
  vertical-align: top,
}

.button:hover {
  cursor: pointer;
}
