.container {
  min-width: 50px;
  min-height: 50px;
  background-color: white;
  padding: 32px 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  font-weight: 600;
  color: rgba(31, 62, 47, 0.8);
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
