.main {
  display: flex;
  flex: 1 1 0;
  width: 100%;
  flex-wrap: wrap;
}

.story {
  font-family: "Bangers";
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 112px;
  letter-spacing: 0.16em;
  line-height: 51px;
}

.carousel {
  width: 100%;
}

.container {
  display: flex;
  flex: 1 1 0;
  width: 100%;
  flex-wrap: wrap;
}
