@font-face {
  font-family: "Bangers";
  src: url("../../../LandingPage/fonts/Bangers-Regular.ttf");
}

.container {
  width: 100%;
  row-gap: 20px;
}

.logoKreate {
  height: 37px;
}

.kolourTypo {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.24em;
  font-family: "Bangers";
  color: white;
}

.rightColumn {
  justify-content: end;
  gap: 48px;
  flex: 1 1 0;
  min-width: 500px;
  font-size: 16px;
  gap: 48px;
}

.buttonNav {
  font-family: "Bangers";
  color: white;
  letter-spacing: 0.08em;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.buttonNav:hover {
  color: #ec5929;
  border-bottom: 2px solid #ec5929;
}

@media only screen and (max-width: 1000px) {
  .container {
    column-gap: 100px;
  }
  .leftColumn {
    justify-content: center;
    flex: 0 1 auto;
    width: 100%;
  }
  .rightColumn {
    justify-content: center;
    flex: 0 1 auto;
    width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  .rightColumn {
    min-width: auto;
    font-size: 10px;
    gap: 24px;
  }
}
