.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.uncompleted {
  display: flex;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  list-style-type: none;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.completed {
  display: flex;
  color: #00a267;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  list-style-type: none;
  text-decoration-line: line-through;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
