.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.uncompleted {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-style: normal;
  padding-bottom: 12px;
  list-style-type: none;
  padding-left: 12px;
  line-height: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.completed {
  display: flex;
  color: #00a167;
  font-size: 16px;
  font-style: normal;
  list-style-type: none;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.statusCard {
  border-radius: 12px;
  font-size: 15px;
  line-height: 35px;
  align-items: center;
  &.completed {
    border: 1px solid #006e46;
  }
  &.running {
    border: 1px solid #f4db1d;
  }
  width: 128px;
}

.running {
  display: flex;
  color: #f4db1d;
  font-size: 16px;
  font-style: normal;
  list-style-type: none;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.children {
  align-items: center;
}

/** NOTE: @sk-tenba: https://css-tricks.com/finally-it-will-be-easy-to-change-the-color-of-list-bullets/ */
.uncompleted::before {
  content: "• ";
}
