@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.searchResult {
  color: colors.$ink;
  font-weight: 600;
  font-size: 14px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slogan {
  color: colors.$ink50;
}
