.searchResult {
  color: #1f3e2f;
  font-weight: 600;
  font-size: 14px;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slogan {
  color: rgba(31, 62, 47, 0.5);
}
