@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  display: block;
}

.imageSuccess {
  width: 302px;
  height: auto;
  margin-bottom: 32px;
}

.button {
  margin-top: 32px;
}

.caption {
  margin-top: 32px;
  text-align: center;
}

.backedAmount {
  margin-top: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: rgba(0, 54, 44, 0.8);

  .emphasis {
    font-weight: 700;
    color: colors.$green;
  }
}

.imageContainer {
  width: 768px;
  height: 384px;
  overflow: hidden;
  border-radius: 12px;
}

.image {
  position: absolute;
  inset: 0;
  transition-property: opacity;
  transition-duration: 500ms;
}
