@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav {
  position: relative;
  top: 0;
  z-index: 10;
}

.main {
  flex-grow: 1;
}

.slogan {
  margin: 48px auto;
  max-width: 1440px;
  box-sizing: border-box;
}

.projectCarousel {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0px auto;
}

.twoColumnsWrapper {
  margin: 48px 0;
  padding: 0 56px;
}

.twoColumns {
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.columnLeft {
  flex: 4 400 870px;
}

.columnRight {
  flex: 1 1 300px;
}

.podcast {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.containerButtonLoadMore {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.buttonLoadMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  border: 1px solid rgba(31, 62, 47, 0.1);
  padding: 12px 16px;
  border-radius: 97px;
  color: colors.$ink;
  font-weight: bold;
}

.label {
  font-weight: 600;
  color: colors.$ink;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.topBackersContainer {
  min-width: 50px;
  min-height: 50px;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 12px;
  border: 1px solid colors.$black10;
  background-color: #fff;
}

.projectContainer {
  display: flex;
  gap: 48px;
  flex-direction: column;
}

.tableTopBackers {
  display: flex;
}

.sortButtonGroup {
  display: flex;
  gap: 8px;
  justify-content: right;
  margin-bottom: 24px;
}

.blockContainer {
  padding: 0 56px;
}

.buttonActive {
  background-color: colors.$secondary;
  color: white;
}

.sectionSlogan {
  margin: 48px 0;
}
