.container {
  background: #ffffff;
  border-radius: 12px;
}

.bannerContainer {
  width: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 100%;
}
