@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  background-color: colors.$secondary;
  color: white;
  width: 100%;
}

.upperContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 56px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 1440px;
  margin: auto;
  height: 160px;
}

.iconList {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.teiki {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: "Bangers";
  src: url(../../../LandingPage/fonts/Bangers-Regular.ttf);
}

.sloganCommunity {
  font-size: 20px;
  padding: 0 16px;
  line-height: 30px;
  font-weight: bold;
}

.sloganKolours {
  font-weight: 400;
  font-size: 16px;
  padding: 0 16px;
  letter-spacing: 0.24em;
  font-family: "Bangers";
}

.logo {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 20px;
}

.lowerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 32px 56px;
  height: 88px;
  max-width: 1440px;
  font-weight: 500;
  margin: auto;
}

.routingPageItem {
  position: relative;
  cursor: pointer;
  color: white;
  padding-left: 8px;
}

.routingPageItem:hover {
  color: #ec5929;
}

.iconContainer {
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 50%;
  background-color: white;
  color: colors.$secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}
