@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  display: flex;
  background-color: colors.$black;
  height: 80px;
}

.main {
  flex: 1 1 auto;
  padding: 0 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.rightMain {
  display: flex;
  gap: 16px;
  align-items: center;
}

.vertical {
  border: 1px solid;
}

@font-face {
  font-family: Bangers;
  src: url(./fonts/Bangers-Regular.ttf);
}

.kolours {
  font-family: Bangers;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.24em;
  color: #fff;
}

.button.button.button:hover {
  color: #fff;
  background-color: #ec5929;
  border: 1px solid #ec5929;
}

.log {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.buttonNav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 69px;
  font-weight: 600;
  font-size: 14px;
  color: white;
  padding: 12px 16px;
  gap: 12px;
}

@media only screen and (max-width: 1024px) {
  .discountAdvert {
    display: none;
  }
}
