.container {
  display: block;
  border-radius: 16px;
  overflow: hidden;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: stretch;
  align-content: stretch;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}
