.container {
  display: block;
  cursor: pointer;
}

.box {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.image {
  position: relative;
}

.wrap {
  width: 100%;
  bottom: 38px;
  background-color: #fff;
}

.indicator {
  position: absolute;
  right: 27px;
  top: 24px;
  width: 48px;
  height: 48px;
}

.discount {
  left: 24px;
  bottom: 16px;
  position: absolute;
  border-radius: 4px;
  background: #f74055;
  padding: 4px 8px;
}

.image {
  position: absolute;
  inset: 0;
}
