@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  background-color: #eef1f0;
  border-radius: 12px;
  padding: 24px;
  width: 317px;
}

.title {
  font-weight: 600;
  font-size: 14px;
  color: colors.$ink;
}

.tagGroup {
  display: flex;
  flex-direction: column;
}

.checkbox {
  margin-top: 20px !important;
  font-weight: 600;
  font-size: 14px;
  color: colors.$ink !important;
}

.checkbox > label::before {
  background-color: #eef1f0 !important;
}

.checkbox > label {
  color: colors.$ink !important;
}
