@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.details {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.itemizedItem {
  color: rgba(0, 54, 44, 0.8);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.buttonsContainer {
  display: flex;
  margin-top: 20px;
  gap: 12px;
}

.faucetLink {
  color: colors.$green;
  text-decoration: underline;
  font-weight: 600;
}

.buttonNav {
  pointer-events: none;
}

.container {
  display: block;
  position: relative;
  height: 100vh;
  background-color: #222;
}

.content {
  position: relative;
  padding: 32px;
  margin: 16px auto;
  max-width: 654px;
  background-color: #f8f8f8;
  border: solid 1px rgba(255, 255, 255, 0.32);
  border-radius: 16px;
}

.nav {
  position: sticky;
  border-bottom: solid 1px rgba(255, 255, 255, 0.32);
}

.navContent {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.callout {
  width: 100%;
  height: auto;
}
