@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.details {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.itemizedItem {
  color: rgba(0, 54, 44, 0.8);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.buttonsContainer {
  display: flex;
  margin-top: 20px;
  gap: 12px;
}

.faucetLink {
  color: colors.$green;
  text-decoration: underline;
  font-weight: 600;
}

.buttonNav {
  pointer-events: none;
}

.container {
  display: block;
  position: relative;
}

.content {
  position: relative;
  padding: 32px;
  margin: 0 auto;
  max-width: 654px;

  @media (min-width: 1440px) and (max-height: 1368px) {
    transform: translate(+50%, max(-60px, (100vh - 1000px) / 2));
  }
}

.nav {
  position: sticky;
  background-color: #222;
}

.navContent {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.callout {
  width: 100%;
  height: auto;
}

.niko {
  display: none;

  @media (min-width: 1440px) and (max-height: 1368px) {
    display: block;
    position: fixed;
    bottom: 0;
    right: 50%;
    height: 600px;
    max-height: calc(100vh - 100px);
    width: auto;
  }
}
