.container {
  display: block;
}

.always {
  color: #01b45e;
}

.frequent {
  color: #006e46;
}

.often {
  color: #ffb90a;
}

.sometime {
  color: #fc8b26;
}

.rarely {
  color: #fa6240;
}

.never {
  color: #f74055;
}
