.basicImageSuggestion {
  width: 100%;
  padding: 20px;
  background-color: rgba(238, 241, 240, 1) !important;
}

.basicImageSuggestionText {
  color: rgba(31, 62, 47, 0.8);
}

.basicImageSuggestionList {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 6px;
  min-height: 87px;
}

.basicSuggestionImageItem {
  height: 13vh;
}

.basicBottomImage {
  border: 1px solid rgba(35, 41, 52, 0.1);
  border-radius: 9px;
  cursor: pointer;
}

.buttonImage {
  border: none;
  outline: none;
  padding: 0;
}
