.container {
  // Start a stacking context:
  // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eef1f0;
}

.pageContainerCensored {
  height: 100vh;
  overflow: hidden;
}

.nav {
  position: relative;
  top: 0;
  z-index: 10;
}

.main {
  flex-grow: 1;
}

.backdrop {
  top: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.content {
  position: relative;
  margin: 375px auto 0 auto;
  z-index: 5;
  max-width: 1440px;
}

.header {
  margin: 0 56px 32px 56px;
}

.detailsStatsPanels {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  margin: 32px 56px;
  flex-wrap: wrap;
}

.mainPanels {
  flex: 10000 1 600px;
  width: 600px;
}

.rightPanels {
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.podcast {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.contentContainer {
  position: relative;
}

.censoredItemContainer {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(16px);
  position: fixed;
  inset: 0;
  z-index: 9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

.censoredItemTitle {
  margin-top: 20px;
}

.censoredItemDescription {
  margin-top: 16px;
}

.censoredItemButton {
  margin-top: 20px;
}

.loading {
  width: 100px;
  height: 100px;
  color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
