.container {
  display: block;
  position: relative;
}

.inputShell {
  &.menuOpened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.input {
  border: 0;
  color: #1f3e2f;
  display: block;
  flex: 1 1 0;
  font-weight: 600;
  margin: 0;
  min-width: 0;
  outline: 0;
  padding: 16px 24px;
  width: 0;

  &::placeholder {
    color: rgba(0, 54, 44, 0.5);
  }

  &.paddingLeftNarrow {
    padding-left: 4px;
  }

  &.paddingLeftNone {
    padding-left: 0;
  }

  &.paddingRightNarrow {
    padding-right: 4px;
  }

  &.paddingRightNone {
    padding-right: 0;
  }
}

.menu {
  align-items: stretch;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 4px 4px;
  border-top: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  list-style: none;
  margin: 0;
  outline: 0;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
}

.item {
  background-color: white;
  padding: 16px 24px;

  &.itemHighlighted {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.label {
  color: #1f3e2f;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
}

.hidden {
  display: none !important;
}
