@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title {
  color: colors.$secondary;
  font-size: 96px;
  line-height: 120px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}
