@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.buttonWallet {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 21px 32px;
  border-radius: 12px;
  background-color: transparent;
  box-sizing: inherit;
  width: 100%;
}

.buttonWallet:disabled {
  // Note: @sk-tenba: this is to avoid the situation where the button wallet is blurred twice
  color: colors.$secondary;
}

.buttonWallet:hover {
  border: 1px solid colors.$secondary;
  box-shadow: 0 0 0 1px colors.$secondary;
  cursor: pointer;
}

.headingLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-weight: 600;
  display: flex;
  color: colors.$secondary;
  align-items: center;
  &.headingDimmed {
    color: colors.$secondary50;
  }
}

.recommend {
  background: colors.$secondary10;
  border-radius: 12px;
  display: flex;
  padding: 12px 16px;
  gap: 12px;
  box-sizing: border-box;
  margin: 12px -20px -10px -20px;
}

.iconRecommend {
  flex: 0 0 auto;
  color: colors.$secondary;
}

.recommendText {
  color: colors.$secondary;
  text-align: left;
  line-height: 24px;
}

.grayScale {
  filter: grayscale(1);
}

.disabledButton {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
