.container {
  background-color: #eef1f0ff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #0000000c;
}

.main {
  flex: 1 1 auto;
  max-width: 1440px;
  padding: 0 56px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.searchBar {
  flex: 1 1 auto;
}

.wallet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 300px;
  justify-content: center;
}
