.container {
  display: flex;
  padding: 32px 32px 0% 32px;
  gap: 24px;
}

.editContainer {
  position: relative;
  width: 58%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previewContainer {
  overflow-y: auto;
  position: relative;
  width: 42%;
}
