@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  border: 1px solid colors.$black10;
  padding: 24px 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fff;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: colors.$ink;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 12px;
}

.cardGroup {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card {
  flex: 1 1 auto;
}
