.container {
  display: block;
}

.header {
  margin: 0 0 24px 0;
}

.titles {
  display: flex;
  margin-top: 32px;
}

.titlesMain {
  flex: 1 1 0;
}

.titlesRight {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 12px;
}

.main {
  margin: 24px 0 64px 0;
}

.footer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
