// @sk-kitsune: This file is copied (with modification) from:
// containers/NavBar/index.module.scss
// (authored by @sk-tenba).

.modal {
  padding: 0 32px 32px 32px;
  width: 390px !important;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.buttonCloseModal {
  position: absolute;
  top: 24px;
  right: 32px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.connectWalletHeading {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.disabledCloseButton {
  pointer-events: none;
  cursor: not-allowed;
}

.walletLogo {
  width: 24px;
  height: 24px;
}

.networkWarning {
  padding: 8px 12px;
  color: #ff7a00;
  background: rgba(255, 122, 0, 0.1);
  border-radius: 65px;
  font-weight: 600;
  font-size: 12px;
  margin-top: 8px;
}

.buttonConnectWalletContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
