.remindContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  height: 56px;
}

.main {
  flex: 1 1 0;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mainContent {
  max-width: 1440px;
  padding: 56px;
  margin: 0 auto;
}

.backgroundContainer {
  height: 900px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundContent {
  height: 94px;
  display: flex;
  gap: 70px;
  align-items: center;
}
