.remindContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  height: 56px;
}

.main {
  flex: 1 1 0;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mainContent {
  max-width: 1440px;
  padding: 56px;
  margin: 0 auto;
}

.backgroundContainer {
  width: 100%;
  position: relative;
}

.backgroundContentContainer {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundContent {
  gap: 70px;
  display: flex;
  align-items: center;
  height: 94px;
}
