@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

$color-pallete-height: 300px;

.container {
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  border: 1px solid rgba(34, 34, 34, 0.1);
  border-radius: 16px;
  overflow: hidden;

  :global(.react-colorful__saturation) {
    border-radius: 0;
  }

  :global(.react-colorful__hue) {
    display: none;
  }

  :global(.react-colorful__pointer) {
    width: 36px;
    height: 36px;
    border: 3px solid white;
  }
}

.topHalf {
  width: 100%;
  flex: 1;
}

.bottomHalf {
  width: 100%;
  padding: 20px 24px;
}

.colorPallete {
  // To override react-colorful style
  width: 100% !important;
  height: #{$color-pallete-height} !important;
  border-right: 1px solid white;
}

.colorDisplay {
  aspect-ratio: 1 / 1;
  height: #{$color-pallete-height};
  position: relative;

  .buttonSlot {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hueSlider {
  width: 100%;
  margin-bottom: 32px;

  &:focus-visible {
    outline: none;
  }

  .hueSliderTrack {
    background: linear-gradient(
      90deg,
      #eb4d2a 0%,
      #feff54 17.19%,
      #90fc4d 33.85%,
      #74fcf4 50.52%,
      #0205f5 66.67%,
      #ea32d6 83.33%,
      #eb332c 100%
    );
    border-radius: 8px;
  }
}

.inputsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 12px;

  .colorInputLabel {
    color: #222222;
    font-weight: 600;
  }

  .colorInput:focus-visible {
    outline-color: colors.$primary;
  }

  .hexColorInput {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .rgbColorInput {
    grid-column: 1;
    grid-row: 2;
  }

  .cmykColorInput {
    grid-column: 2;
    grid-row: 2;
  }

  .hslColorInput {
    grid-column: 3;
    grid-row: 2;
  }

  // TODO: This CSS selector is inefficient. Add props to Input to style
  & input {
    text-align: center;
    color: #222222;
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-radius: 4px;
  }
}

.colorInputHex {
  width: 100%;

  &:focus {
    outline-color: colors.$primary;
  }
}

.colorInputRGB {
  width: 48px;

  &:focus {
    outline-color: colors.$primary;
  }
}

.suggestionsContainer {
  align-self: flex-start;
}

.suggestion {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
