.container {
  min-height: 50px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 32px;
}

.content {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #1f3e2f;
}

.legend {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: rgba(31, 62, 47, 0.8);
}
