.container {
  margin-top: 20px;
  width: 182px;
  height: 105px;
  margin-bottom: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title {
  text-align: left;
  margin-top: 12px;
}
