.container {
  display: block;
}

.sponsorBadge {
  background-color: rgba(0, 110, 70, 0.1);
  padding: 16px 20px;
  white-space: nowrap;
  border-radius: 8px;
}

.featuredBadge {
  background-color: rgba(210, 0, 228, 0.1);;
  padding: 16px 20px;
  white-space: nowrap;
  border-radius: 8px;
}
