@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  display: block;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(40px);
  border-radius: 16px;
}

.summary {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: colors.$ink80;

  @supports (-webkit-line-clamp: 6) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}

.logoImage {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  border: 2px solid #ffffff;
  position: absolute;
  left: 56px;
  top: 56px;
  overflow: hidden;
}
