.container {
  display: block;
  position: relative;
}

.viewer {
  min-height: 50px;
}

.buttonPrevContainer {
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  backdrop-filter: blur(40px);
  filter: drop-shadow(0px 28px 11px rgba(34, 34, 34, 0.01))
    drop-shadow(0px 16px 10px rgba(34, 34, 34, 0.05))
    drop-shadow(0px 7px 7px rgba(34, 34, 34, 0.09))
    drop-shadow(0px 2px 4px rgba(34, 34, 34, 0.1))
    drop-shadow(0px 0px 0px rgba(34, 34, 34, 0.1));
}

.buttonNextContainer {
  position: absolute;
  top: 50%;
  right: 0;
  width: auto;
  height: auto;
  transform: translate(+50%, -50%);

  border-radius: 50%;
  backdrop-filter: blur(40px);
  filter: drop-shadow(0px 28px 11px rgba(34, 34, 34, 0.01))
    drop-shadow(0px 16px 10px rgba(34, 34, 34, 0.05))
    drop-shadow(0px 7px 7px rgba(34, 34, 34, 0.09))
    drop-shadow(0px 2px 4px rgba(34, 34, 34, 0.1))
    drop-shadow(0px 0px 0px rgba(34, 34, 34, 0.1));
}

.buttonScrollProjects {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonScrollProjects:hover {
  background-color: white;
}

.indicator {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 0.3;
  background: white;
  background-color: white;

  &:hover {
    cursor: pointer;
  }

  &.active {
    opacity: 1;
  }
}

.indicatorContainer {
  position: absolute;

  // TODO: @sk-umiuma:
  // These positions are only suitable for kolours page usage
  &.bottomLeft {
    left: 72px;
    bottom: 80px;
  }

  &.bottom {
    left: 50%;
    bottom: -48px;
    transform: translateX(-50%);
  }
}
