@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  background-color: colors.$ink10;
  border-radius: 14px;
  color: colors.$ink;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  max-width: 200px;
  overflow: hidden;
  padding: 5px 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
