@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  background-color: #eef1f0;
}

.main {
  flex: 1 1 0;
}

.rightPanel {
  background-color: white;
  border-radius: 4px;
}

.leftPanel {
  border-radius: 4px;
}

.infoCell {
  border-radius: 12px;
  border: 1px solid colors.$black10;
  width: 70%;
}

.panelAsSeenIn {
  background-color: white;
  border-radius: 4px;
}
