.container {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.divider {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='2' stroke-dasharray='1%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
}

.searchValue {
  color: #1f3e2f;
  font-weight: 600;
}
