@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.searchValue {
  color: colors.$ink;
  font-weight: 600;
}
