.body {
  background-image: url("./assets/background.svg");
  background-size: cover;
}

.container {
  display: block;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.article {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 32px 56px;
  min-height: 100vh;
}

.loading {
  width: 100px;
  height: 100px;
  color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.podcast {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
