@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.slogan {
  font-weight: 900;
  font-size: 96px;
  line-height: 120px;
  color: colors.$secondary;
}

.icon {
  color: colors.$primary;
}
