.box {
  background-color: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  width: 100%;
  padding: 64px 36px 32px 36px;
  gap: 16px;
}

.imageView {
  position: absolute;
  inset: 0;
}

@font-face {
  font-family: "Bangers";
  src: url(../../fonts/Bangers-Regular.ttf);
}

.bangers {
  font-family: "Bangers";
}

.fruitTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "a a a"
    "b c d";
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}

.royaltyFeesContainer {
  padding: 62px;
  color: white;
  background-color: #006e46;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 30px;
  font-family: "Bangers";
}

.royaltyFeesChild {
  height: 153px;
  padding: 32px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Bangers";
}

.walletItem {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 52px 32px;
  border-radius: 16px;
  align-items: center;
  flex: 1 1;
  position: relative;
  overflow: hidden;

  &.recommended {
    border: 1px solid #006e46;
    box-shadow: 0px 7px 32px rgba(0, 110, 70, 0.24);
  }
}

.recommendedText {
  position: absolute;
  color: white;
  background: #006e46;
  font-size: 9px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0px;
  text-transform: uppercase;
}

.walletName {
  margin-top: 16px;
}

.kolourList {
  display: flex;
  width: 100%;
  border: 2px solid white;
  border-radius: 12px;
  overflow: hidden;
}

.kolour {
  height: 89px;
  width: 100%;
}

.mintKolourAction {
  background: #ec5929;
  color: white;
  border-radius: 69px;
  padding: 17px 29px;
  font-weight: 600;
  pointer-events: none;
  border: none;
  outline: none;
  width: fit-content;
}
