.gridContainer {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.row {
  align-items: stretch;
}

.leftColumn {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 50%;
  align-items: center;
  box-sizing: border-box;
}

.rightColumn {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 50%;
  display: flex;
  justify-content: center;
}

.stepOneContainer {
  padding: 48px 56px;
  position: relative;
}

.stepTwoContainer {
  gap: 5px;
  padding: 48px 56px;
  position: relative;
}

.imageView {
  position: absolute;
  inset: 0;
}

.stepOneTextContainer {
  padding: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@font-face {
  font-family: "Bangers";
  src: url(../../fonts/Bangers-Regular.ttf);
}

.step {
  font-family: "Bangers";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.action {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.fruitTable {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "a a a"
    "b c d";
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}

.royaltyFeesContainer {
  padding: 62px;
  color: white;
  background-color: #006e46;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Bangers";
}

.royaltyFeesChild {
  height: 153px;
  padding: 32px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Bangers";
}

.kolourButton {
  color: white;
  display: flex;
  gap: 8px;
  filter: drop-shadow(-8px -4px 0px #fcb045) drop-shadow(8px 9px 0px #833ab4);
  background: #ec5929;
  border-radius: 69px;
  padding: 16px 24px;
  border: none;
  outline: none;
  margin-top: 63px;
  cursor: pointer;
}

.kolourButtonContainer {
  display: flex;
  justify-content: center;
}

.walletContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 48px 56px;
}

.walletItem {
  display: flex;
  flex-direction: column;
  padding: 24px 0px;
  flex: 1 1 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: hidden;
  justify-content: center;

  &.recommended {
    border: 1px solid #006e46;
    box-shadow: 0px 7px 32px rgba(0, 110, 70, 0.24);
  }
}

.recommendedText {
  position: absolute;
  color: white;
  background: #006e46;
  font-size: 9px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0px;
  text-transform: uppercase;
}

.walletName {
  margin-top: 16px;
}
