.container {
  display: block;
}

.editor {
  min-height: 20em;
  outline: none;

  blockquote {
    border-left: 3px solid rgba(#0d0d0d, 0.1);
    padding-left: 1rem;
  }

  code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    th,
    td {
      border: 1px solid rgba(0, 0, 0, 0.05);
      height: auto;
      box-sizing: border-box;
      position: relative;
      > * {
        margin-bottom: 0;
      }
    }
  }
}
