.container {
  display: block;
  overflow: hidden;
  border-radius: 16px;
  background-color: white;
}

.main {
  position: relative;
  padding: 52px 36px;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toolbar {
  position: absolute;
  top: 32px;
  right: 32px;
}
