.tag {
  color: #1f3e2f;
  font-weight: 600;
  line-height: 12px;
  padding: 8px 12px;
  border-radius: 83px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}
