@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.entry {
  flex: 0 0 auto;
}

.label {
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  color: colors.$ink80;
}

.match {
  color: colors.$secondary;
  font-weight: 600;
  font-size: 14px;
}

.content {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: colors.$ink80;
}
