@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.buttonWalletOptionsContainer {
  position: relative;
}

.buttonWalletOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  border-radius: 91px;
  background-color: transparent;
  padding: 7px 16px;
  width: 300px;
  outline: none;
  cursor: pointer;
  color: white;

  &:disabled {
    filter: grayscale(1) opacity(0.5);
  }

  &.showDropdown {
    color: #222222;
    background-color: white;
    border-bottom: 1px solid rgba(34, 34, 34, 0.32);
  }
}

.wallet {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 300px;
  justify-content: center;
  display: flex;
}

.assets {
  text-align: left;
  position: relative;
}

.ada {
  font-weight: 600;
  font-size: 12px;
  margin-left: 17px;
}

.usd {
  font-weight: 400;
  font-size: 10px;
  margin-left: 17px;
}

.iconArrowDropDown {
  position: absolute;
  right: 0px;
  display: flex;
  top: 0px;
  height: 100%;
  align-items: center;
}

.address {
  font-weight: 600;
  margin-left: 10px;
  max-width: 65px;
}

.walletOptions {
  position: absolute;
  background-color: white;
  border: 1px solid colors.$black10;
  border-top: none;
  border-radius: 0 0 20px 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 20px;
  justify-content: left;
  overflow: hidden;
  z-index: 1;
}

.optionButton {
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  margin-left: 40px;
  font-weight: 600;
  font-size: 14px;
  color: colors.$ink;
  cursor: pointer;
  text-align: left;
}

.line {
  width: 100%;
  border-bottom: 1px solid colors.$black10;
}

.lineButtonWalletNavbar {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.disconnectButton {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  color: #f74055;
  margin-left: 40px;
  cursor: pointer;
  text-align: left;
  padding-bottom: 20px;
  background-color: transparent;
}

.walletInfo {
  flex: 1 1 0px;
  justify-content: center;
}
