@use "~/modules/teiki-ui/styles/_colors.scss" as colors;

.container {
  display: block;
}

.sizeH1 {
  font-size: 40px;
  line-height: 125%;
  font-weight: 700;
}

.sizeH2 {
  font-size: 32px;
  line-height: 150%;
  font-weight: 700;
}

.sizeH3 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 700;
}

.sizeH4 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
}

.sizeH5 {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
}

.sizeH6 {
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
}

.colorInk100 {
  color: colors.$ink;
}

.colorGreen100 {
  color: colors.$green;
}

.colorWhite100 {
  color: #ffffff;
}

.colorWhite80 {
  color: rgba(255, 255, 255, 0.8);
}

.colorRed100 {
  color: #f74055;
}

.fontRegular {
  font-weight: 400;
}

.fontSemibold {
  font-weight: 600;
}

.fontBold {
  font-weight: 700;
}

.fontBlack {
  font-weight: 900;
}

.max1Lines {
  @supports (-webkit-line-clamp: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.max2Lines {
  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.max3Lines {
  @supports (-webkit-line-clamp: 3) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.max4Lines {
  @supports (-webkit-line-clamp: 4) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.max5Lines {
  @supports (-webkit-line-clamp: 5) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
}
